<html>
    <head>
        <title>
           게시판 
        </title>
    </head>
    <body>
        <h1>
            게시판 입니다.
        </h1>
        <a href="/posts">홈으로</a>
        <form action="/posts/create" >
            <input type="text" name="title">
            <input type="text" name="body">
            <input type="submit" value="작성">
        </form>
    </body>
    
</html>